<?xml version="1.0"?>
<config>
    <modules>
        <Emagedev_CacheControl>
            <version>0.9.0</version>
        </Emagedev_CacheControl>
    </modules>
    <global>
        <blocks>
            <emagedev_cachecontol>
                <class>Emagedev_CacheControl_Block</class>
            </emagedev_cachecontol>
            <page>
                <rewrite>
                    <html_head>Emagedev_CacheControl_Block_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>